body {
  background: rgb(41, 41, 41);
  background: linear-gradient(
    90deg,
    rgba(7, 11, 20, 1) 9%,
    rgba(42, 84, 177, 1) 49%,
    rgba(7, 11, 20, 1) 90%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

h2 {
  color: white;
}

.cities {
  display: flex;
  justify-content: space-evenly;
}

.city-time {
  font-size: 20px;
  color: white;
}

.city-zone {
  background: rgba(0, 0, 0, 0.5);
  flex-flow: column;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 200px;
}

.city-zone:hover {
  outline: 1px solid white;
  outline-offset: -6px;
}
